code {
    font-family: monospace;
}

pre:has(code) {
    border-radius: 16px;
    padding: 16px;
}

pre {
    overflow-x: auto;
}

pre:has(code), :not(pre) code, .code {
    background-color: #fcfcfc;
    color: #5c6166;
}

@media (prefers-color-scheme: dark) {
    pre:has(code), :not(pre) code, .code {
        background-color: #10141c;
        color: #bfbdb6;
    }
}